							<input type="text" name="naam" placeholder="Naam" id="boeking-naam" required>
							<br>
							<input type="email" name="e-mailadres" placeholder="E-mailadres" id="boeking-e-mailadres" required>
							<br>
							<input type="text" name="schoolnaam" placeholder="(Schoolnaam)" class="boeking-school">
							<br>
							<input type="text" name="adres" placeholder="Adres" class="boeking-adres">
							<br>
							<input type="text" name="postcode" placeholder="Postcode" class="boeking-postcode">
							<br>
							<input type="text" name="plaats" placeholder="Plaats" class="boeking-plaats" required>
							<br>
							<input type="tel" name="telefoonnummer" placeholder="Tel. Contactpersoon" class="boeking-telelefoonnummer">
							<br>
							<input type="text" name="datum" placeholder="Voorkeursdatum" class="boeking-datum">
